@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,200;0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
.html{
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}
h2, p{margin:0;}
*{
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}
/* font-size:0px;
color:red;
display:flex;
justify-content: space-between;
margin:0;
text-align:center; 
box-sizing: border-box;
283*3+40px;
*/
/* 보드 */
.ex1{
    width: 1045px; margin:100px auto; 
    padding: 80px;
    border: 1px solid #ddd;
    background-color: bisque; /*임시 배경, #f6f5f5*/
    text-align: center;
}
/*- - - - - - - - - -*/
/* 제목 */
.ex1>h2{
    font-size:36px;
    color:#dc3545;
}
.ex1>p{
    font-size:18px;
    color:#424d59;
    margin:30px 0 70px 0;
    white-space: pre-line;
}

/*- - - - - - - - - -*/
/* 사진묶음 */
.ex1>div{
    display: flex;
    justify-content: space-between;

}
/* 각각의 사진 */
.ex1>div>p{width:32%;}
.ex1>div>p>img{
    width: 100%;
    /* filter속성은 웹표준은 아님 */
    filter:grayscale(100%);
}

.ex1>div>p>img:hover{
    /* opacity: 0.5; */
    filter:grayscale(0%);
}







